/* team.css */

/* Styles for team member cards */
.text-xl {
    font-size: 1rem;
    line-height: 1.75rem;
    display: block;
    height: 6.5vh;
}
.team-member {
    width: 100%; /* Adjust the width calculation */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: block;
    text-align: center;
}

.team-member:hover {
    transform: translateY(-5px);
}

.team-member::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.2);
    z-index: -1;
}
.team-member img.team-member-img {
    height: 30vh;
    width: 100%; /* Auto-adjust width based on height */
    /* max-width: 100%; Limit width to its container */
    margin-bottom: 10px; /* Add some bottom margin */
}

.team-member p {
    padding: 10px;
    text-align: center; /* Align text to center */
}
.developer {
    width: 100%; /* Adjust the width calculation */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: block;
    text-align: center;
}

.developer:hover {
    transform: translateY(-5px);
}

.developer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d6e7ec;
    z-index: -1;
}
.developer img.developer-img {
    height: 30vh;
    width: 100%; /* Auto-adjust width based on height */
    /* max-width: 100%; Limit width to its container */
    margin-bottom: 10px; /* Add some bottom margin */
}

.developer p {
    padding: 10px;
    text-align: center; /* Align text to center */
}
/* Media query for responsiveness */
@media (min-width: 768px) {
    .team-members,
    .advisory-panel-members,.developer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }
    
}

